@mixin page-padding {
  padding: 0 $space6;
}

@mixin title {
  font-weight: bold;
  font-size: $size5;
  text-transform: uppercase;
}

@mixin sub-title {
  font-weight: bold;
  font-size: $size4;
  text-transform: uppercase;
}

@mixin btn {
  width: 27rem;
  font-size: $size3;
  padding: $space2 $space5;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin propertyContainer {
  background-color: $color13;
  padding: $space3;
  margin-bottom: $space5;
}

// iphone-plus // 420px
// iphone // 375px
// galaxy // 360px
// galaxy-fold // 280px

@mixin respond($breakpoint){
  @if $breakpoint == maxim-width {
    @media only screen and(min-width: 1350px) { @content };
  }
}