.margin-right {
  margin-right: $space2;
}

.margin-bottom3 {
  margin-bottom: 3rem;
}

.margin-left1_5 {
  margin-left: $space3;
}

.more-link {
  display: block;
  color: $color14;
  text-decoration: none;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}