$color1: #041A40;
$color2: #F19C0A;
$color3: #FEFCFA;
$color4: #FAEEDA;
$color5: #ECC684;
$color6: #004433;
$color7: #0D0801;
$color8: #7F5205;
$colol9: #A1C3FC;
$color10: #04358A;

$space1: .5rem;
$space2: 1rem;
$space3: 1.5rem;
$space4: 2rem;
$space5: 2.5rem;
$space6: 6rem;

$size1: 1.4rem;
$size2: 1.6rem;
$size3: 1.8rem;
$size4: 2.4rem;
$size5: 3.2rem;