.feature-container {
  display: flex;
  width: 28rem;

  &__icon {
    font-size: 4rem;
    color: $color8;
    margin-right: $space2;
  }

  &__info {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: $size3;
      margin-bottom: $space2;
    }

    &__text {
      color: $color8;
    }
  }
}