.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color1;
  z-index: 1000;
}

.nav {  
  @include page-padding;

  height: 8rem;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid .2rem $color10;

  &__logo {
    font-size: $size4;
    color: $color2;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }

  @include respond(maxim-width) {
    width: 1230px;
    margin: 0 auto;
  }
}